*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#navbar{
    background: black;
}
.container {
    text-align: center;
}
.nav-item .nav-link{
    font-size: 11px;
    font-weight: 100;
    color: white;
    border-radius: 20px;
    transition: 0.5s ease;
}

.home{
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.884)), url(./images/bgimage.jpg);
    width: 100%;
    height: 80vh;
    text-align: center;
}

.home .content {
    text-align: center;
    padding-top: 60px;
}

.home .content h1{
    color: white;
    font-size: 50px;
    text-shadow: 0px 1px 1px black;
    margin-top: 100px;
}

.home .content p{
    color: white;
    font-size: 18px;
    font-weight: 100;
    text-shadow: 0px 1px 1px black;
}



.book {
    background: white;
    padding: 50px;
    width: 100%;
}

.book .detail{
    text-align: left;
    margin-left: 150px;
    margin-top: 50px;
    margin-right: 50px;
 }  


 .book .img{
    padding: 50px;
 }
 
.book .card{
    margin-left: 30px;
    margin-top: 40px;
}

.small {
    height: 150px;
    background-color: black;
    color: white;
}

.small-one{
     padding: 50px;
    text-align: center;
}


.achive{
    background-color: white;
 height: 500px;
}

.achive .awards{
text-align: center;
margin-top: 50px;
}

.achive .row{
    padding: 50px;
    margin-left: 70px;
    margin-right: 70px;
}

.achive .card{
    box-shadow: rgba(0,0,0,0.1) 0px 4px;
    border: none;
    cursor: pointer;
}